
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<style>
    #test {
        background-color: red;
        height: 150px;
        width: 150px;
        border: 3px solid black;
        float: left;
    }
</style>

<body>
    <div id="test">
        Test
    </div>

    <div id="test">
        Test
    </div>

    <div id="test">
        Test
    </div>

    <div id="test">
        Test
    </div>
</body>