@using SimulatorTestProject.Models
@model IEnumerable<SimulatorTestProject.Models.TankClass>
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
@foreach (TankClass tank in Model)
{
    <div class="card m-3" style="width:150px;">
        <div class="card-header" style="text-align:center">
            <b>@tank.TankName</b>
        </div>
    </div>
    if (tank.Status == 1 && tank.ReadyForFill == true)
    {
        <img id="GreenLight" src="~/Images/GreenLight.png" style="height:40px; width:40px;" />
        <b>Påfyllning pågår!</b>
    }
    else if (tank.Status == 2 && tank.ReadyForFill == true)
    {
        <b>Tanken är redo för påfyllning</b>
    }
    else if (tank.Status == 1 && tank.ReadyForEmpty == true)
    {
        <img id="GreenLight" src="~/Images/GreenLight.png" style="height:40px; width:40px;" />
        <b>Tömning pågår!</b>
    }
    else if(tank.Status == 2 && tank.ReadyForEmpty == true)
    {
        <b>Tanken är redo för tömning</b>
    }
}
